/logs
/build
/data
/devel
/.catkin_tools
notes.txt
/kernels
**/desktop.ini
git_login.sh
**/build/**
/src/collision_trainer/results

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
